.project{
    padding-block: 40px;
}
.project p{
    margin: 0;
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.project-image img{
    max-inline-size: 100%;
}
.project-botones{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .project{
        display: flex;
        align-items: center;
        padding-block: 80px;
        gap: 32px;
    }
    .project-description{
        flex: 1;
    }
    .project:nth-of-type(3) .project-image{
        order: 2;
        flex: 1;
        text-align: center;
    }

    .project:nth-of-type(7) .project-image{
        order: 2;
        flex: 1;
        text-align: center;
    }
    .project-botones{
        flex-direction: row;
    }
}
    
